.faq-section {
    background-color: var(--blue);
    color: var(--white);
       // padding: 60px 0;
       padding-top: 60px;

    .faq-title {
        font-size: 7rem;
        margin-bottom: 40px;
        color: var(--green);
        .highlight {
            display: block;
            font-size: 4rem;
            color: var(--green);
            margin-top: 0rem;
            span{
                color: var(--white)
            }
        }
    }

    .card {
        background-color: var(--green);
        border: none;
        margin-bottom: 10px;

        .card-header {
            background-color: var(--green);
            border: none;
            padding: 15px 20px;
        }

        .btn-link {
            color: var(--blue);
            font-size: 1.2rem;
            width: 100%;
            text-align: left;
            padding: 0;
        }

        .btn-link.collapsed {
            // background-color: var(--blue);
        }

        .card-body {
            background-color: var(--blue);
            color: var(--white);
            padding: 15px;
            font-size: 1rem;
        }
    }

    /* Chamada para Ação */
    .btn-danger {
        background-color: var(--red);
        border: none;
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 30px;
    }

    /* Responsividade */
    @media (max-width: 768px) {
        .faq-title {
            font-size: 2rem;
        }

        .btn-link {
            font-size: 1rem;
        }
    }


}