.investment-section {
    background-color: var(--blue);
    color: var(--white);
    // padding: 60px 0;

    /* Faixa verde do carousel */
    .carousel-section {
        background-color: var(--green);
        padding: 10px 0;

        .carousel-wrapper {
            overflow: hidden;
            white-space: nowrap;
        }

        .carousel-track {
            display: inline-block;
            animation: scroll 15s linear infinite;
        }

        .carousel-logo {
            display: inline-block;
            padding: 0 15px;
            height: 40px;
            vertical-align: middle;
        }
    }

    .section-title {
        font-size: 2.5rem;
        color: var(--white);
        margin-bottom: 40px;

        .highlight {
            color: var(--green);
        }
    }

    .features-section {
        margin-bottom: 50px;

        .feature-box {
            padding: 20px;
            margin-bottom: 30px;
            border: 1px solid var(--green);
            border-radius: 8px;
            text-align: left;

            h3 {
                margin-top: 15px;
                font-size: 1.5rem;
                color: var(--green);
            }

            p {
                margin-top: 10px;
                font-size: 1rem;
                color: var(--white);
            }

            .feature-icon {
                max-width: 50px;
                height: auto;
            }
        }
    }

    .highlight {
        color: var(--green);
    }

    /* Responsividade */
    @media (max-width: 768px) {
        .section-title {
            font-size: 2rem;
        }

        .feature-box {
            h3 {
                font-size: 1.3rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}