.investment-section {
    background-image: url(../../src/img/dobra_2/bg-3.png) !important;
    background-size: 20%;
    background-repeat: repeat;
    background-color: var(--blue);
    color: var(--white);
    // padding: 60px 0;

    /* Faixa verde do carousel */
    .carousel-section {
        background-color: var(--green);
        padding: 15px 0;

        .carousel-wrapper {
            overflow: hidden;
            white-space: nowrap;
        }

        .carousel-track {
            margin-top: 0.5rem;
            display: inline-block;
            animation: scroll 15s linear infinite;
        }

        @keyframes scroll {
            0% {
                transform: translateX(200%);
            }

            100% {
                transform: translateX(-100%);
            }
            
        }

        .carousel-logo {
            display: inline-block;
            padding: 0 15px;
            height: 40px;
            vertical-align: middle;
        }
    }

    .section-title {
        font-size: 2.5rem;
        color: var(--white);
        margin-top: 100px;
        margin-bottom: 5px;

        .highlight {
            color: var(--green);
        }
    }

    .features-section {
        background: none !important;    
        margin-bottom: 50px;
        .feature-box {
            padding: 20px;
            margin-bottom: 30px;
            background-color: #14161f;
            border: 1px solid var(--green);
            border-radius: 8px;
            text-align: left;

            h3 {
                margin-top: 15px;
                font-size: 1.5rem;
                color: var(--green);
            }

            p {
                margin-top: 10px;
                font-size: 1rem;
                color: var(--white);
            }

            .feature-icon {
                max-width: 50px;
                height: auto;
            }
        }
    }

    .highlight {
        color: var(--green);
    }

    /* Responsividade */
    @media (max-width: 768px) {
        .section-title {
            font-size: 2rem;
        }

        .feature-box {
            h3 {
                font-size: 1.3rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}