.testimonials-section {
    background-color: var(--blue);
    color: var(--white);
    padding: 60px 0;

    .highlight {
        color: var(--green);
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 40px;
        color: var(--white);
    }

    .testimonial-box {
        margin-bottom: 30px;
        text-align: center;

        .testimonial-icon {
            max-width: 50px;
            height: auto;
            margin-bottom: 15px;
            color: var(--green);
            /* Ícones em verde */
        }

        p {
            font-size: 1rem;
            color: var(--white);
            padding: 10px;
            line-height: 1.6;
            border: 1px solid var(--green);
            /* Borda verde */
            border-radius: 8px;
        }
    }

    /* Chamada para Ação */
    .btn-danger {
        background-color: var(--red);
        border: none;
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 40px;
    }

    /* Responsividade */
    @media (max-width: 768px) {
        .testimonial-box {
            margin-bottom: 20px;

            p {
                font-size: 0.9rem;
            }
        }

        h2 {
            font-size: 1.8rem;
        }
    }
}