.features-section {
    background-color: var(--blue);
    color: var(--white);
    // padding: 60px 0;
    padding-top: 60px;

    .feature-box {
        // text-align: center;
        border: 1px solid var(--green);
        /* Borda verde ao redor */
        border-radius: 10px;
        /* Canto arredondado */
        padding: 20px;
        margin-bottom: 30px;
        transition: transform 0.3s ease;
        /* Animação suave */

        &:hover {
            transform: translateY(-10px);
            /* Efeito de elevação ao passar o mouse */
        }

        img {
            max-width: 60px;
            /* Ajuste do tamanho dos ícones */
            margin-bottom: 20px;
        }

        h3 {
            color: var(--green);
            /* Destaque do título em verde */
            font-size: 1.5rem;
            margin-bottom: 15px;
        }

        p {
            font-size: 1rem;
            color: var(--white);
        }
    }

    /* Chamada para Ação */
    .btn-danger {
        background-color: var(--red);
        border: none;
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 40px;
    }

    /* Responsividade */
    @media (max-width: 768px) {
        .feature-box {
            margin-bottom: 20px;
            padding: 15px;

            h3 {
                font-size: 1.3rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}