@charset "UTF-8";
:root {
  --bg-body-hero: linear-gradient(180deg, #152037 0%, #0C101A 100%);
  --bg-body: #0C101A;
  --color-hamburger-bar: #248936;
  --bg-navbar-active: linear-gradient(180deg, #152037 0%, #0C101A 100%);
  --green: #248936;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #ABB2A5;
  --accordin-bg: linear-gradient(160deg, #0C101A 20%, #152037 100%);
  --green-shadow: rgba(36, 137, 54, .5);
}

@font-face {
  font-family: Epilogue-Bold;
  src: url("./../fonts/Epilogue-Bold.ttf");
}
@font-face {
  font-family: Epilogue-Regular;
  src: url("./../fonts/Epilogue-Regular.ttf");
}
@font-face {
  font-family: Inter-Regular;
  src: url("./../fonts/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("./../fonts/Inter_18pt-Bold.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter-Bold";
}

p,
span,
li,
ul,
.btn,
a {
  font-family: "Inter-Regular";
}

header#header {
  height: 87px;
  z-index: 1;
}
header#header nav.navbar {
  height: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
header#header nav.navbar .navbar-brand {
  z-index: 9999;
}
header#header nav.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
header#header nav.navbar .navbar-container button.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  z-index: 10;
}
@media (max-width: 768px) {
  header#header nav.navbar .navbar-container button.hamburger {
    display: flex;
  }
}
header#header nav.navbar .navbar-container button.hamburger span.bar {
  height: 3px;
  width: 38px;
  background: var(--white);
  margin: 4px 0;
  transition: all 0.3s ease;
}
header#header nav.navbar .navbar-container button.hamburger .bar:nth-child(1) {
  background: var(--green);
}
header#header nav.navbar .navbar-container .nav-menu {
  display: flex;
  gap: 1.25rem;
}
@media screen and (max-width: 768px) {
  header#header nav.navbar .navbar-container .nav-menu {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  header#header nav.navbar .navbar-container .nav-menu {
    margin-top: 0;
  }
}
header#header nav.navbar .navbar-container .nav-menu a.btn {
  padding: 0.625rem 3rem !important;
  align-content: center;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  margin: auto;
  border-style: solid;
  border-width: 2.17px;
  border-radius: 8.69px;
}
@media screen and (max-width: 768px) {
  header#header nav.navbar .navbar-container .nav-menu a.btn {
    margin: 0 auto;
  }
  header#header nav.navbar .navbar-container .nav-menu a.btn:nth-child(1) {
    margin-top: 12rem;
  }
}
header#header nav.navbar .navbar-container .nav-menu .btn-login {
  background: transparent;
  border-color: none;
  color: var(--white);
  width: 215.81px;
  text-transform: uppercase;
}
header#header nav.navbar .navbar-container .nav-menu .btn-register {
  background: var(--green);
  box-shadow: 0px 7px 48.92px 1px var(--green-shadow);
  padding: 1.125rem 3rem;
  opacity: 1;
  color: var(--white);
  border: 1px solid var(--green);
  text-transform: uppercase;
}
header#header nav.navbar.active {
  background: var(--bg-navbar-active);
}
@media screen and (min-width: 768px) {
  header#header {
    align-content: center;
  }
}

@media (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-navbar-active);
    z-index: 5;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    backdrop-filter: blur(10px);
    border-bottom: solid 2px var(--color-accordion-header-open);
  }
  .nav-menu.active {
    opacity: 1;
    transform: translateX(0);
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
  }
}
section#hero-section {
  min-height: 100vh;
  background: var(--bg-body-hero);
  z-index: 1;
  overflow: hidden !important;
  max-width: 100vw !important;
}
section#hero-section .video-background {
  position: absolute;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 100vw;
  opacity: 0.1;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  section#hero-section .video-background {
    height: 100%;
    transform: translate(-50%, 0%);
  }
}
@media screen and (max-width: 468px) {
  section#hero-section .container {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
@media screen and (min-width: 468px) {
  section#hero-section .container {
    padding-top: 25%;
  }
}
@media screen and (min-width: 768px) {
  section#hero-section .container {
    padding-top: 10%;
  }
}
section#hero-section h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 48.86px;
  text-align: left;
  color: var(--white);
}
@media screen and (max-width: 500px) {
  section#hero-section h2 {
    font-size: 36px;
    line-height: 38px;
  }
}
section#hero-section p {
  font-size: 18.1px;
  font-weight: 400;
  line-height: 29.08px;
  text-align: left;
  color: #95A9C7;
}
@media screen and (min-width: 500px) {
  section#hero-section p {
    line-height: 20px;
  }
}
section#hero-section a.btn.acount {
  color: var(--white);
  border: 1px solid var(--green);
  background: var(--green);
  box-shadow: 0px 7px 48.92px 1px var(--green-shadow);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: center;
  border-radius: 7.24px;
  padding: 16px 10px;
  transition: all 0.5s ease;
  width: 100%;
}
section#hero-section a.btn.acount:hover {
  transform: scale(1.1);
}
@keyframes piscar {
  0%, 100% {
    opacity: 1;
    r: 3.76074;
  }
  50% {
    opacity: 0.3;
    r: 6.24609;
  }
}
section#hero-section .bolinha {
  fill: var(--green);
  animation: piscar 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}
section#hero-section .shadow-efect {
  animation: pulse 2s infinite;
  fill: #3FD88F;
}
section#hero-section .status-indicator {
  display: flex;
  align-items: center;
  color: #248936;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  width: 208px !important;
}
section#hero-section .status-indicator .icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
section#hero-section .status-indicator .status-dot {
  width: 12px;
  height: 12px;
  background-color: #248936;
  border-radius: 50%;
}
section#hero-section .status-indicator lottie-player {
  width: 24px;
  height: 24px;
  margin: auto;
}
section#hero-section img.pc {
  box-shadow: 4px 4px 8px #152037;
  border-radius: 14px;
}
@media screen and (min-width: 768px) {
  section#hero-section img.pc {
    border-radius: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  section#hero-section img.pc {
    border-radius: 20px;
  }
}
section#hero-section lottie-player path {
  fill: #248936 !important;
}

section.dobra_2 {
  margin-top: 6rem;
}
@media screen and (min-width: 1024px) {
  section.dobra_2 {
    margin-top: 4rem;
  }
}
section.dobra_2 h2 {
  color: var(--white);
  margin-bottom: 3rem;
  font-size: 38px;
}
@media screen and (max-width: 500px) {
  section.dobra_2 h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
section.dobra_2 .card {
  background: linear-gradient(180deg, #162038, #0C101A);
  padding: 48px 32px;
  border-radius: 24px;
  border: none;
}
section.dobra_2 .card .card-body {
  padding: 0;
}
section.dobra_2 .card .card-title {
  color: var(--white);
  margin-top: 1rem;
  font-size: 26px;
}
section.dobra_2 .card .card-text {
  color: #95A9C7;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  section.dobra_2 .card {
    min-height: 330px;
  }
}
@media screen and (min-width: 1024px) {
  section.dobra_2 .card {
    min-height: 350px;
  }
}
section.dobra_2 a.btn.acount {
  color: var(--white);
  border: 1px solid var(--green);
  background: var(--green);
  box-shadow: 0px 7px 48.92px 1px var(--green-shadow);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: center;
  border-radius: 7.24px;
  padding: 16px 10px;
  transition: all 0.5s ease;
  width: 100%;
}
section.dobra_2 a.btn.acount:hover {
  transform: scale(1.1);
}

section.dobra_3 {
  position: relative;
  overflow-x: hidden;
  margin-top: 6rem;
}
@media screen and (min-width: 1024px) {
  section.dobra_3 {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 768px) {
  section.dobra_3 {
    min-height: 500px;
  }
}
section.dobra_3 h2 {
  color: var(--white);
  font-size: 38px;
}
@media screen and (max-width: 500px) {
  section.dobra_3 h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
section.dobra_3 .imagem-container {
  position: relative;
  padding-top: 36%;
}
@media screen and (max-width: 768px) {
  section.dobra_3 .imagem-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  section.dobra_3 .imagem-container {
    padding-top: 10%;
  }
}
section.dobra_3 .imagem-container .fundo {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  section.dobra_3 .imagem-container .fundo {
    max-width: none;
    width: 50rem;
  }
}
section.dobra_3 .imagem-container .icons {
  position: absolute;
  bottom: 41%;
  right: -4%;
  width: 35%;
  height: auto;
  animation: flutuar 3s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  section.dobra_3 .imagem-container .icons {
    bottom: 44%;
    right: 19%;
    width: 21%;
  }
}
@media screen and (min-width: 1024px) {
  section.dobra_3 .imagem-container .icons {
    bottom: 40%;
    right: 18%;
    width: 22%;
  }
}
@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

section.dobra_4 {
  margin-top: 6rem;
  /* Rotaciona o ícone quando o corpo está aberto */
}
@media screen and (min-width: 1024px) {
  section.dobra_4 {
    margin-top: 4rem;
  }
}
section.dobra_4 h2 {
  color: var(--white);
  margin-bottom: 3rem;
  font-size: 38px;
}
@media screen and (max-width: 500px) {
  section.dobra_4 h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
section.dobra_4 .accordion {
  width: 100%;
}
section.dobra_4 .accordion-item {
  padding: 0px;
  margin-bottom: 16px;
  transition: 0.5s all ease;
  border-radius: 16px;
  background: var(--accordin-bg);
}
section.dobra_4 .accordion-header {
  cursor: pointer;
  padding: 1.5rem;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1;
  color: var(--white);
}
section.dobra_4 .accordion-header.open {
  color: var(--white);
}
section.dobra_4 .accordion-header.open .icon {
  transform: rotate(180deg);
}
section.dobra_4 .accordion-body {
  padding: 0 1.25rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  display: none;
  color: #95A9C7;
  font-size: 0.9rem;
}
section.dobra_4 .accordion-body.open {
  max-height: 28rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  display: block;
}
section.dobra_4 .icon {
  font-weight: bold;
  transition: transform 0.3s;
}

footer {
  padding-top: 8.5rem;
}
@media screen and (min-width: 1440px) {
  footer {
    padding-top: 21rem;
  }
}

footer p.direitos {
  color: #95A9C7;
  font-size: 10px;
  margin-top: 1rem;
  line-height: 1rem;
}

footer .footer-text-align-logo {
  align-self: center;
}
@media screen and (max-width: 768px) {
  footer .footer-text-align-logo {
    text-align-last: center;
  }
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 0.3rem;
  border: none !important;
}

footer ul li a {
  font-size: 14px;
  text-decoration: none;
  fill: #95A9C7;
  color: #95A9C7;
  transition: all 0.5s;
}

footer ul li a:hover {
  fill: var(--green);
  color: var(--green);
  transition: all 0.5s;
  text-decoration: none;
}

footer ul.list-group .title-list h3 {
  color: var(--white);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.25rem;
}

footer ul.list-group .list-group-item {
  background: transparent;
  padding: 0;
}

footer .link-media-social svg {
  height: 1.5625rem !important;
}

footer ul li a.link-media-social {
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.5s;
  margin-left: 0.5rem;
}

footer ul li a.link-media-social:hover {
  border-radius: 0.5rem;
  color: var(--white) !important;
  fill: var(--white);
}

footer .endPage {
  font-size: 14px;
  line-height: 24px;
  color: #95A9C7;
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--bg-body);
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 26px;
    padding-right: 26px;
  }
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.loading-modal img {
  width: 240px;
}

.show {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
